* {
    box-sizing: border-box;

}

.container {
    width: 100%;
    max-width: 1110px;
    padding: 0 12px;
    margin: 0 auto;
}

.header-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-link {
    display: flex;
    justify-content: flex-start;
    margin-right: 30px;

}

.seporator {
    background: rgb(236, 243, 255);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 1px;
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.mobile-menu-toggle {
    width: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
}

.mobile-menu-line {
    height: 1px;
    background-color: #ffffff;
    width: 100%;
    transition: transform 0.2s;
    margin-top: 2.5px;
}

.mobile-menu-line.short {
    width: 50%;
}

form {
    display: flex;
    align-items: center;
}

.search-wrapper {
    border: 1px solid rgb(111, 115, 238);
    border-radius: 5px;
}

input[type="search"] {
    padding: 10px;
    font-size: 16px;
    width: 598px;
    border: none;
}

button {
    padding: 12px 15px;
    background-color: rgb(111, 115, 238);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-button {
    border-radius: 0;
}

.shopping-button {
    background-color: #ffffff;
    color: #000;
}

.content {
    width: 1380px;
    height: 445px;
    position: relative;
    margin: 0 auto;
    margin-top: 39.5px;
    margin-bottom: 72px;
    overflow: hidden;
    background: linear-gradient(to right, rgb(111, 115, 238), rgba(111, 115, 238, 0));
}

.photo-content {
    position: absolute;
    right: 0;
    bottom: -30px;
    z-index: -1;
}

.box-content {
    padding-top: 56px;
    color: #ffffff;
}

.mode {
    opacity: 70%;
}

.subtitle {
    margin-top: 7px;
    margin-bottom: 28px;
}

.card-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 38px;
}

.card-text {
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.card-text-double {
    display: flex;
    align-items: center;
}

.button-card {
    background-color: #A2A6ED;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.button-card.scooter {
    background-color: #8D90F1;

}

.button-record {
    background-color: #ffffff;
    color: rgb(111, 115, 238);
    width: 159px;
    height: 53px;
}

.content-wow {
    width: 1380px;
    height: 445px;
    display: flex;
    margin: 0 auto;
    margin-top: 39.5px;
    margin-bottom: 100px;
    justify-content: space-between;

}

.title-model {
    font-size: 30px;
    padding-left: 160px;
    color: #282739;
}

.drive {
    fill: #6F73EE;
}

.test-drive {
    padding-left: 160px;
    color: #282739;
}

.subtitle-test {
    margin-bottom: 18px;
}

.test {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.drive {
    margin-right: 10px;

}

.photo-scooter {
    border-radius: 10px;
}